# Gradle
.gradle
build/
!/build.gradle
!/settings.gradle

# Java
*.class
*.log
bin/
**/bin/

# IDE
.idea/
*.iml
.vscode/
*.swp
*.swo
.DS_Store

# Modding
**/run/
**/runs/
*.accesswidener
.architectury-transformer/
architectury-cache/
loom-cache/

# Project Specific
config/
**/config/
betterbeacons.json
.envrc
*.log
*.log.gz
